.header-div {
    padding: 10px;
    background-color: #f9f9fc;
    border-bottom: none;
    height: 60px;
}

/* 


CSS del header  para pantallas grandes


*/

.drop {
    border-radius: 12px;
    border: none
}

.drop-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.drop-icons{
    margin-right: 6px;
    background-color: rgb(235, 235, 235);
    padding: 11px;
    width: 40px;
    height: 40px;
    border-radius: 20%;
}

.drop-text:hover {
    background-color: #f9f9fc;
    border-radius: 12px;
}

.drop-text .arrow {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.drop-text:hover .arrow {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header-text2 {
    border-radius: 50px;
}

.header-text2:hover {
    background: #dff7fb;
    transition: 0.3s ease-in-out;
}


/* CSS de la animacion  */

.header-rotate-y {
    transform: rotateX(180deg);
    opacity: 1;
    scale: 1;
    transition: 0.4s ease-in-out;
}

.header-rotate-y-hidden {
    transform: rotateX(0deg);
    opacity: 0;
    scale: 0;
    transition: 0.4s ease-in-out;
}

.header-fade {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    visibility: visible;
    z-index: 1;
}

.header-fade-hidden {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

/* CSS del Menu desplegable para telefonos  */

.headerMenu-div {
    padding: 0 20px;
    background-color: #ffffff;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 1;

}

.headerMenu-div::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari y Opera */
}

.headerMenu-div {
    -ms-overflow-style: none;
    /* scroll and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.headerWelcome-div li {
    box-shadow: #4a4a4a 0px 2px 0.5cap 0px;
}

/* 




Darkmode  




*/

[data-theme="dark"] .header-div {
    background-color: #000415;
    color: #ffffff;
}

[data-theme="dark"] .headerMenu-div {
    background-color: #000000;
    color: #ffffff;
}

[data-theme="dark"] .drop {
    background: #000;
    box-shadow: 0 4px 6px #0c4a6e;
}

[data-theme="dark"] .drop-icons{
    background-color: #0c4a6e;
}

[data-theme="dark"] .drop-text:hover {
    background-color: #00082e;
    border-radius: 12px;
}

[data-theme="dark"] .header-text2:hover {
    background: #0c4a6e  ;
    transition: 0.3s ease-in-out;
}

[data-theme="dark"] .headerWelcome-div li {
    background-color: #070707;
    box-shadow: #b3b3b3 0px 1.5px 0.5cap 0px;
}


/*



Responsive design



 */


@media screen and (min-width: 950px) {

    .butom-header {
        display: none;
    }

    .TeleM-logo {
        width: 100px;
        height: 90px;
        margin-left: 70px;
    }

}

@media screen and (max-width: 950px) {
    .header-lg-div {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .TeleM-logo {
        width: 80px;
        height: 80px;
    }
}