
.asideL{
    background-color: #ebf2fb;
}

.asideR{
    background-color: #fdfdff;
}

.main{
    background-color: rgb(255, 255, 255)
}

.buscador{
    background-color: #ffffff;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}